{% extends "base.html" %}

{% block content %}
<div class="mt-5 p-5 container-fluid lab-erp-pallet-bg-10 rounded">
    <div class="row">
        <div class="mb-5 row">
            <div class="col-1">
                <h3>Products</h3>
            </div>
        </div>
        <div class="mb-5 row align-items-end">
            <div class="col-md-4">
                <div class="">
                    <input id="search-table" type="search" class="form-control" placeholder="Search" onkeyup="searchTableGeneric()">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn-lab me-md-2 w-100" type="button" href="{{ url_for('newProduct') }}">New</a>
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">NCM</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody id="table" class="table-group-divider">
                        {% for product in products %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.barcode }}</td>
                            <td>{{ product.ncm }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.supplier }}</td>
                            <td>{{ product.costPrice }}</td>
                            <td>
                                <a class="btn-lab btn-table" href="{{ url_for('editProduct', id=product.id) }}">Edit</a> 
                            </td>
                            <td>
                                <a class="btn-lab btn-lab-red btn-table-red" onclick="return confirmLinkClick()" href="{{ url_for('deleteProduct', id=product.id) }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

  

  
  

  
{% endblock %}