
[data-theme-stanum] {
    --lab-erp-pallet-color-1: #212529;
    --lab-erp-pallet-color-2: #343A40;
    --lab-erp-pallet-color-3: #495057;
    --lab-erp-pallet-color-4: #6C757D;
    --lab-erp-pallet-color-5: #ADB5BD;
    --lab-erp-pallet-color-6: #CED4DA;
    --lab-erp-pallet-color-7: #DEE2E6;
    --lab-erp-pallet-color-8: #E9ECEF;
    --lab-erp-pallet-color-9: #F8F9FA;
    --lab-erp-pallet-color-10: #FFFFFF;
    --lab-erp-pallet-color-red: #DC4A34;
    --lab-erp-pallet-color-green: #2AAA65;
}


.lab-erp-pallet-bg-1 {
    background-color: #212529;
}
.lab-erp-pallet-bg-2 {
    background-color: #343A40;
}
.lab-erp-pallet-bg-3 {
    background-color: #495057;
}
.lab-erp-pallet-bg-4 {
    background-color: #6C757D;
}
.lab-erp-pallet-bg-5 {
    background-color: #ADB5BD;
}
.lab-erp-pallet-bg-6 {
    background-color: #CED4DA;
}
.lab-erp-pallet-bg-7 {
    background-color: #DEE2E6;
}
.lab-erp-pallet-bg-8 {
    background-color: #E9ECEF;
}
.lab-erp-pallet-bg-9 {
    background-color: #F8F9FA;
}
.lab-erp-pallet-bg-10 {
    background-color: #FFFFFF;
}
.text-lab-color-10 {
    color: #FFFFFF;
}
.lab-erp-pallet-bg-red {
    background-color: #DC4A34;
}
.lab-erp-pallet-bg-green {
    background-color: #2AAA65;
}

li {
    list-style: none;
}

#sidebar-nav {
    text-align: left;
}

.sidebar-button{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    color: var(--lab-erp-pallet-bg-1);
    text-decoration: none;
    border-radius: 10px;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}
  
.sidebar-button img:nth-child(2) {
    display: none; 
}

.sidebar-button:hover img:nth-child(1) {
    display: none;
    transition: 250ms;
}

.sidebar-button:hover img:nth-child(2) {
    display: inline;
    transition: 250ms;
}

.sidebar-button-red {
    background-color: #DC4A34;
    color: #FFFFFF;
}

.sidebar-button:hover {
    background-color: #212529;
    color: #FFFFFF;
    transition: 250ms;
}

.btn-lab{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    background-color: #212529;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #212529;
    text-decoration: none;
    box-shadow: none;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.btn-lab-dark{
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    background-color: #FFFFFF;
    color: #212529;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    box-shadow: none;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.btn-lab:hover{
    background-color: #FFFFFF;
    color: #212529;
    transition: 100ms ease-in-out;
}

.btn-lab-dark:hover{
    background-color: #212529;
    color: #FFFFFF;
    transition: 100ms ease-in-out;
}

.btn-lab-red {
    background-color: #DC4A34;
    border: 2px solid #DC4A34;
}

.btn-lab-red:hover{
    background-color: #FFFFFF;
    color: #DC4A34;
    transition: 100ms ease-in-out;
}

.btn-lab-red-dark {
    background-color: #DC4A34;
    border: 2px solid #DC4A34;
}

.btn-lab-red-dark:hover{
    background-color: #212529;
    color: #DC4A34;
    transition: 100ms ease-in-out;
}

.btn-table {
    background-color: #CED4DA;
    color: #212529;
    border: 0px;
}

.btn-table:hover {
    background-color: #343A40;
    color: #FFFFFF;
}

.btn-table-red {
    background-color: #DC4A34;
    border: 0px;
}

.btn-table-red:hover {
    background-color: #953021;
    color: #FFFFFF;
}

.newuser-formlab-label {
    color:#FFFFFF;
}

.login-text {
    color: #FFFFFF;
}

.text-label-format {
    font-size: x-large;
    font-weight: 600;
}

.text-label-format-title {
    font-size: xx-large;
    font-weight: 600;
}