<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='staticBootstrap.css') }}">
</head>
<body>

    <div class="container-fluid" style="height: 100vw;">
        <div class="row h-100">
            <div class="col-2 text-center lab-erp-pallet-bg-10">
                {% include 'components/sidebar.html' %}
            </div>
            <div class="col-10 text-center lab-erp-pallet-bg-9 rounded">
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>


                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js.js') }}"></script>
    <script src="{{ url_for('static', filename='staticBootstrap1.js') }}"></script>
    <script src="{{ url_for('static', filename='staticBootstrap2.js') }}"></script>
</body>
</html>