
<div class="p-4 container-fluid">
    <img src="../../static/img/logoStannum.jpg" width="50" height="50" class="rounded mx-auto d-block" alt="">
    <div class="d-flex justify-content-center">
        <ul class="p-0 sidebar-nav w-100" id="sidebar-nav">
            <li class="mt-4 sidebar-item d-grid mx-auto">
                <a class="sidebar-link sidebar-button" href="{{ url_for('home') }}">
                    <img class="icon-sidebar" src="{{ url_for('static', filename='icon/home.png') }}" width="20" height="20"></img>
                    <span class="ms-2">Home</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('dashboard') }}">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('products') }}">
                    <span>Products</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('sales') }}">
                    <span>Sales</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('users') }}">
                    <span>Users</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('suppliers') }}">
                    <span>Supliers</span>
                </a>
            </li>
            <li class="mt-4 sidebar-item d-grid mx-auto" >
                <a class="sidebar-link sidebar-button" href="{{ url_for('costumers') }}">
                    <span>Costumers</span>
                </a>
            </li>
        </ul>
    </div>
</div>